# Supabase
# Project URL: Supabase  > Project Settings > API > Project URL
SUPABASE_URL=https://your-project-id.supabase.co

# Service Role Key: Supabase roject Settings > API > service_role (secret)
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Google Gemini API
# https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDtdQFVPcc64bsK1iPCdJpXU7S6F698934
